<router-outlet></router-outlet>

<h1>Accolite Bank</h1>
<h2>Accounts</h2>
<button (click)="getAccounts()">Get Accounts</button>
<table>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Amount</td>
    <td>Created</td>
    <td>Updated</td>
  </tr>
  <tr *ngFor="let account of accounts">
    <td>{{ account.id }}</td>
    <td>{{ account.name }}</td>
    <td>{{ account.amount }}</td>
    <td>{{ account.created }}</td>
    <td>{{ account.updated }}</td>
  </tr>
</table>

<h2>Users</h2>
<button (click)="getUsers()">Get Users</button>
<table>
  <tr>
    <td>Id</td>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Phone</td>
    <td>Email</td>
    <td>Created</td>
    <td>Updated</td>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.id }}</td>
    <td>{{ user.firstName }}</td>
    <td>{{ user.lastName }}</td>
    <td>{{ user.phone }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.created }}</td>
    <td>{{ user.updated }}</td>
  </tr>
</table>
<br/>
<hr/>
<br/>
<h4>Deposit</h4>
<form (ngSubmit)="onDeposit()">
  <div>
    <label for="accountId">Account ID:</label>
    <input id="accountId" [(ngModel)]="accountId" name="accountId" type="number" />
  </div>
  <div>
    <label for="amount">User ID:</label>
    <input id="userId" [(ngModel)]="userId" name="userId" type="number" />
  </div>
  <div>
    <label for="userId">Amount:</label>
    <input id="amount" [(ngModel)]="amount" name="amount" type="number" />
  </div>
  <button type="submit">Deposit</button>
</form>
<div *ngIf="depositMessage">{{ depositMessage }}</div>
<br/>
<hr/>
<br/>
<h4>Withdraw</h4>
<form (ngSubmit)="onWithdraw()">
  <div>
    <label for="accountId">Account ID:</label>
    <input id="accountId" [(ngModel)]="accountId" name="accountId" type="number" />
  </div>
  <div>
    <label for="amount">User ID:</label>
    <input id="userId" [(ngModel)]="userId" name="userId" type="number" />
  </div>
  <div>
    <label for="userId">Amount:</label>
    <input id="amount" [(ngModel)]="amount" name="amount" type="number" />
  </div>
  <button type="submit">Withdraw</button>
</form>
<div *ngIf="withdrawMessage">{{ withdrawMessage }}</div>
